<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.cqut.dao.base.BaseEntityDao">
    <insert id="save" parameterType="com.cqut.entity.base.Entity">  
     <![CDATA[   
         insert into  ${entity.tableName} (
     ]]>
     <foreach collection="entity.properties" item="item" index="index" separator=",">
     	${item.key}
     </foreach>
     ) values (
     <foreach collection="entity.properties" item="item" index="index" separator=",">
     	#{item.value}
     </foreach>
     )
    </insert>
    
     <insert id="saveEntities">  
     	<foreach collection="entities" item="entity" index="index">
     		<![CDATA[ 
     			insert into ${entity.tableName} (
     		]]>
     		<foreach collection="entity.properties" item="item" index="index" separator=",">
     				${item.key}
     		</foreach>
     			) values (
     		<foreach collection="entity.properties" item="item" index="index" separator=",">
     			#{item.value}
     		</foreach>
     			);
     	</foreach>
    </insert>
    
    <update id="updatePropByID">
    		<![CDATA[ 
     			update ${entity.tableName} set 
     		]]>
     		<foreach collection="entity.properties" item="item" index="index" separator=",">
     			${item.key} = #{item.value}
     		</foreach>
     		<where>
     			${entity.primaryKey} = #{id}
     		</where>
    </update>
    
    <update id="updatePropByCondition">
    		<![CDATA[ 
     			update ${entity.tableName} set 
     		]]>
     		<foreach collection="entity.properties" item="item" index="index" separator=",">
     			${item.key} = #{item.value}
     		</foreach>
     		<where>
     			<if test="condition!=null">
     				${condition}
     			</if>
     		</where>
    </update>
    
    <delete id="deleteByID">
		<![CDATA[   
			delete from ${table}   
		]]>
		<where>
			${primaryKey} = #{ID}
		</where>
	</delete>
	
	<delete id="deleteByCondition">
		<![CDATA[   
			delete from ${table}  
		]]>
		<where>
			<if test="condition != null">
				${condition}
			</if>	
		</where>	
	</delete>
	
	<delete id="deleteEntities">
		<![CDATA[   
			delete from ${table}    
		]]>
		<where>
			 ${primaryKey}  in
			 <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
          		#{item}
        	</foreach>
		</where>	
	</delete>
	
	<select id="getByID" resultType="map">
		<![CDATA[   
			select * from ${table} 
		]]>
		<where>
			${primaryKey} = #{ID}
		</where>
	</select>
	
	<select id="getByCondition" resultType="map">
		<![CDATA[   
			select * from ${table} 
		]]>
		<where>
			<if test="condition != null">
		 		${condition}
		 	</if>
		</where>
	</select>
	
	<select id="findByID" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from ${table} 
        <where>
        	${primaryKey} = #{id}
        </where>
	</select>
	
	<select id="findByCondition" resultType="map">
		select 
		<foreach collection="properties" item="item" index="index" separator=",">
          	${item}
        </foreach>
        from ${table} 
        <where>
        	<if test="condition != null">
        		${condition}
        	</if>
        </where>
	</select>	
	
	<select id="getCountByCondition" resultType="int">
		select count(distinct ${primaryKey}) from ${table}
		<where>
        	<if test="condition != null">
        		${condition}
        	</if>	
        </where>
	</select>	
	<update id="createTable">
    	CREATE TABLE IF NOT EXISTS ${tableName} (
    	<foreach collection="fieldSqls" item="item" index="index" separator=",">
          		${item} 
        </foreach>)
    </update>
       <!--得到sql运行影响的条数  -->
     <update id="runSql" >
     	${sql}
     </update> 
</mapper>